@import 'variable';
@import 'function';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Reset */
body {
    background-color: #4b4b4b;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;

    p {
        color: rgb(122, 122, 122);
        margin: 0;
    }
}

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
    color: $orange1;
}

.btn {
    padding: 8px 24px;
    background: $orange1;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;
}

/* End of Reset */

.header, .footer, .page-container {
    transition: right .3s ease;
    position: relative;
    right: 0;
}

@include responsive(phone-only) {
    .mobile-menu-active {
        position: relative;
        right: 90vw;
    }
}

.mobile-menu {
    display: none;
    position: fixed;
    transform: translateX(100%);
    top:0;
    width: 90vw;
    transition: transform .3s ease;
    color: #fff;
    padding: 16px;
    right: 0;

    @include responsive(phone-only) {
        display: block;
    }

    ul {
        padding: 0;
        li {
            list-style: none;
            padding: 8px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #333;
            }
        }
    }

    &.active {
        transform: translateX(0);
    }
}

.header {
    $header-height: 60px;
    height: $header-height;
    line-height: $header-height;
    position: fixed;
    width: 100vw;
    z-index: 3;
    background: rgba(255, 255, 255, 0.8);

    @include responsive(tab-portrait-down) {
        border-bottom: 1px solid #f5f5f5;
    }

    .mainlogo {
        display: block;
        margin: 0;
        line-height: $header-height;
        color: $orange1;
    }

    .mainmenu {
        text-align: right;
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            list-style: none;
            color: $grey1;

            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }
}

.footer {
    @extend .header;
    $footer-height: 60px;
    background: #4B4B4B;
    color: #fff;
    height: $footer-height;
    line-height: $footer-height;
    position: relative;
    width: 100%;

    @include responsive(tab-portrait-down) {
        height: auto;
    }

    .mainmenu {

        li {
            color: #fff;

            @include responsive(tab-portrait-down) {
                text-align: left;
                display: block;
            }
        }
    }
}

.page-container {
    background: #fff;
}

.aboveTheFold {
    width: 100%;
    height: 100vh;
    position: relative;

    .slick-list {
        height: 100vh;
    }

    .slick-dots {
        bottom: 25px;
        text-align: left;
        padding-left: 25px;
        z-index: 2;

        li {
            button {
                background: #fff;
                border:  1px solid #D8D8D8;
                border-radius: 100%;

                &:before {
                    content: '';
                }
            }

            &.slick-active {
                button {
                    background: $orange1;
                }
            }
        }
    }

    .hero {
      position: absolute;
      background: #fff;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: $orange1;
      padding-left: 15%;
      z-index: 1;

      @include responsive(tab-portrait-down) {
        width: 100%;
        padding: 0 16px;
      }

      h2 {
        font-size: 34px;
        margin: 0;
      }

      h3 {
        font-size: 17px;
        margin: 16px 0 0;
      }
    }

    .hero-image {
      height: 100vh;
      width: 100vw;
      position: relative;

      &::after {
        display: block;
        position: absolute;
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff);
        margin-top: 0;
        height: 100%;
        width: 50%;
        content: '';
        left: 50%;
        top: 0;
      }

      img {
        width: 100%;

        @include responsive(tab-landscape-down) {
            width: initial;
            height: 100%;
        }
      }
    }

    .anchor {
        position: absolute;
        z-index: 3;
        left: 50%;
        bottom: 32px;

        a {
            width: 40px;
            line-height: 40px;
            border-radius: 100%;
            box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
            display: block;
            height: 40px;
            text-align: center;
            color: $orange1;
        }
    }
}

.section {
    overflow: hidden;
    position: relative;

    .title {
        font-size: 30px;
        color: $orange1;
    }

    .desc {
        color: $orange1;
        font-size: 17px;
    }

    &.catering, &.menu, &.maps, &.testimonial {
        padding: 60px 0 32px;
        min-height: 100vh;

        @include responsive(tab-landscape-down) {
            min-height: 50vh;
        }
    }
}

.catering-box {
    color: $grey1;
    width: calc(33.3% - 16px);
    text-align: left;
    padding: 0 16px 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    display: inline-block;
    border: 1px solid #eee;

    @include responsive(tab-portrait-down) {
        width: calc(50% - 16px);
    }

    @include responsive(phone-only) {
        width: calc(100%);
    }

    .thumbnail {
        height: 100px;
        overflow: hidden;
        margin: 0 -16px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }

    .title {
        font-size: 16px;
        color: $grey1;
        margin-top: 16px;
    }

    .desc {
        font-size: 14px;
        color: $grey1;
        margin-top: 16px;
    }

    .detail {
        display: flex;
        margin: 32px 0 0;
        font-size: 14px;

        & > * {
            width: 33.3%;
            white-space: nowrap;
            overflow: hidden;
        }

        .location {
            p {
                text-overflow: ellipsis;
                width: 100%;
                overflow: hidden;
            }
        }

        .more {
            text-align: right;

            a {
                color: $orange1;
            }
        }
    }
}

.menu-box {
    @extend .catering-box;
    width: 100%;

    .thumbnail {
        height: 200px;
    }

    .menu-detail {
        vertical-align: top;
        font-size: 13px;
        margin: 16px 0 0;

        .avatar {
            width: 40px;
            border-radius: 100%;
            margin-right: 8px;
            display: inline-block;
            vertical-align: top;
        }

        .menu-owner-detail {
            width: calc(100% - 48px);
            display: inline-block;
        }

        .label {
            text-align: right;

            img {
                width: 25px;
                display: inline-block;

                &:not(:last-child) {
                    margin-right: 4px;
                }
            }
        }
    }
}

.slider-list {
    &::after, &::before {
        display: block;
        position: absolute;
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fff);
        margin-top: 0;
        height: 100%;
        width: 20%;
        content: '';
        right: 0;
        top: 0;
        z-index: 1;
    }

    &::before {
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, #fff);
        right: initial;
        left:0;
    }

    .slick-next, .slick-prev {
        width: 40px;
        line-height: 40px;
        border-radius: 100%;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.16);
        display: block;
        height: 40px;
        text-align: center;
        color: $orange1;
        font-size: 14px;
        z-index: 2;
        background: #fff;

        &::before {
            display: none;
        }
    }

    .slick-next {
        right: 100px;
    }

    .slick-prev {
        left: 100px;
    }
}

.testimonial-box {
    border: 1px solid #eee;

    .quotes {
        height: 100px;
        background: #F8F8F8;
        text-align: center;
        display: flex;
        align-items: center;
        color: $grey1;
        justify-content: center;
        font-style: italic;
    }

    .testimonial-detail {
        padding: 16px;
        font-size: 14px;

        .avatar {
            width: 40px;
            border-radius: 100%;
            margin-right: 8px;
            display: inline-block;
            vertical-align: middle;
        }

        .testimonial-owner-detail {
            width: calc(100% - 48px);
            display: inline-block;
        }
    }
}
